*{
    
    padding: 0;
    margin: 0;
   /*  background-color: rgb(25, 31, 36); */

}

.contanerOfProile{
    display: flex;
    flex-direction: row;
    height: 750px;
    background-color: rgb(25, 31, 36);
  
}

.navbarBox{ 
    width: 20%;
    height: 100%;
    background-color:rgb(25, 31, 36);
    flex-direction: column;
}
.navbar{
    padding: 12px 15px;
    text-align: center;
    box-sizing: border-box;
    font-size: larger;
}

/* profile department */

.profile{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: aqua;
    
}

.editProfile{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;
    background-color: rgb(25, 31, 36);
    
}

/* profile picture */
.profilePicture {
    height: 120px;
    width: 120px;
    border-radius: 9999px;
    margin-top: 20px;
}



.createPost{
    
   flex-direction: column;
   border:  rgb(47, 51, 54);
   
}
.styleUser{
    height: 590px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.marshmello{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.upPic{
width: 50%;
margin-left: 15px;
}


.getPost{
    display: flex;
    flex-direction: column;
}

.borderPost{
    width: 90%;
    height: 1px;
    background-color: rgb(47, 51, 54);
    margin-bottom: 4px;
    margin-top: 4px;
    align-items: stretch;
    box-sizing: border-box;
    margin-left: 5px;
}

h4{ 
    margin-left: 7px;
    color: rgb(19, 26, 30);
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

p{
    margin-left: 10px;
    color: rgb(19, 26, 30);
    font-size: large;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}


.first{
    width: 100%;
    height: 60%;
    
}
.second{
    width: 50%;
}

.userName{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(239, 243, 244);
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    
}

.name{
    margin-top: 35px;
}

.butonEdit{
    float: right;
    margin-top:100px ;
    border-radius: 9999px;
    color: rgb(239, 243, 244);
    font-weight: 700;
    width: 100px;
    height: 40px;
    margin-right: 12px;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    border-color: rgb(230, 233, 235);
    background-color: rgb(25, 31, 36);
    
}

.imagePost{
    width: 300px;
    height: 300px;
}



.itemHome{
   display: flex;
   flex-direction: column;
   width: 20%;
}