.contanerOfProile{
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: rgb(25, 31, 36);
  
}

.navbarBox{ 
    width: 250px;
    height: 100%;
    background-color:rgb(25, 31, 36);
    flex-direction: column;
}
.navbar{
    padding: 12px 15px;
    text-align: center;
    box-sizing: border-box;
    font-size: larger;
}

/* profile department */

.profile{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: aqua;
    
}

.editProfile{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;
    background-color: rgb(25, 31, 36);
    
}

/* profile picture */
.profilePicture {
    height: 120px;
    width: 150px;
    border: 5in,white,solid;
    border-radius: 9999px;
}

.name{
    margin-top: 15px;
   margin-left: 60px;
}

.createPost{
    height: 40%;
   flex-direction: row;
}
.styleUser{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.getPost{
    display: flex;
    flex-direction: column;
}

.borderPost{
    width: 90%;
    height: 1px;
    background-color: rgb(47, 51, 54);
    margin-bottom: 4px;
    margin-top: 4px;
    align-items: stretch;
    border: 0 solid black;
    box-sizing: border-box;
    margin-left: 5px;
}

h4{ 
    margin-left: 7px;
    color: aliceblue;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
p{
    margin-left: 10px;
    color: white;
    font-size: larger;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}


.first{
    width: 50%;
    
}
.second{
    width: 50%;
}

.userName{
    margin-top: 50px;
    
    justify-content: center;
    color: rgb(239, 243, 244);
    margin-left: 10px;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.butonEdit{
    float: right;
    margin-top:100px ;
    border-radius: 9999px;
    color: rgb(239, 243, 244);
    font-weight: 700;
    width: 100px;
    height: 40px;
    margin-right: 12px;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    border-color: rgb(230, 233, 235);
    background-color: rgb(25, 31, 36);
    
}

.imagePost{
    width: 300px;
    height: 300px;
}